PORT=3000
CASSANDRA_ADRESS=cassandra
CASSANDRA_LOCAL_DATA_CENTER=datacenter1
CASSANDRA_KEYSPACE=shortener
SALT_BASE_62=XXXXXXXX
REDIS_HOST=redis
REDIS_PORT=6379
API_KEY=XXXXXXXX

CORS_ALLOWED_ORIGINS=https://example.com
CORS_CREDENTIALS=true
CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization,x-api-key
CORS_MAX_AGE=3600
